.app {
  text-align: center;
  font-family: Arial, sans-serif;
  width: 100%;
}

h1 {
  margin-top: 20px;
  font-size: 24px;
}

.heading {
  font-size: 52px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 300;
  text-decoration: underline;
  text-shadow: 0cm;
}